<!-- Features Section -->
<div class="container position-relative z-index-2">
  <div class="bg-gray-100 shadow-lg rounded mt-n9">
    <div class="card-deck d-block d-lg-flex card-lg-gutters-1">
      <div class="card border-0 mb-2">
        <!-- Listing -->
        <div class="card-body p-4">
          <div class="media">
            <img class="max-width-9 mb-2" src="../../assets/svg/components/consult-cyan-icon.svg" alt="Image Description">
            <div class="media-body px-4">
              <h2 class="h6 text-dark mb-1">Consult</h2>
              <p class="mb-0">This is where we sit down, grab a cup of coffee and dial in the details.</p>
            </div>
          </div>
        </div>
        <!-- End Listing -->
      </div>

      <div class="card border-0 mb-2">
        <!-- Listing -->
        <div class="card-body p-4">
          <div class="media">
            <img class="max-width-9 mb-2" src="../../assets/svg/components/plan-brown-icon.svg" alt="Image Description">
            <div class="media-body px-4">
              <h3 class="h6 text-dark mb-1">Plan</h3>
              <p class="mb-0">Now that we've aligned the details, it's time to get things mapped out and organized.</p>
            </div>
          </div>
        </div>
        <!-- End Listing -->
      </div>

      <div class="card border-0 mb-2">
        <!-- Listing -->
        <div class="card-body p-4">
          <div class="media">
            <img class="max-width-9 mb-2" src="../../assets/svg/components/create-blue-icon.svg" alt="Image Description">
            <div class="media-body px-4">
              <h4 class="h6 text-dark mb-1">Create</h4>
              <p class="mb-0">The time has come to bring those ideas and plans to life.</p>
            </div>
          </div>
        </div>
        <!-- End Listing -->
      </div>
    </div>

    <div class="card-deck d-block d-lg-flex card-lg-gutters-1">
      <div class="card border-0 mb-2 mb-lg-0">
        <!-- Listing -->
        <div class="card-body p-4">
          <div class="media">
            <img class="max-width-9 mb-2" src="../../assets/svg/components/develop-purple-icon.svg" alt="Image Description">
            <div class="media-body px-4">
              <h4 class="h6 text-dark mb-1">Develop</h4>
              <p class="mb-0">Whether through commerce or just an experience to tell your brand's story.</p>
            </div>
          </div>
        </div>
        <!-- End Listing -->
      </div>

      <div class="card border-0 mb-2 mb-lg-0">
        <!-- Listing -->
        <div class="card-body p-4">
          <div class="media">
            <img class="max-width-9 mb-2" src="../../assets/svg/components/rocket-red-icon.svg" alt="Image Description">
            <div class="media-body px-4">
              <h4 class="h6 text-dark mb-1">Release</h4>
              <p class="mb-0">Now that your brand is all dressed up and ready to party.</p>
            </div>
          </div>
        </div>
        <!-- End Listing -->
      </div>

      <div class="card border-0 mb-0">
        <!-- Listing -->
        <div class="card-body p-4">
          <div class="media">
            <img class="max-width-9 mb-2" src="../../assets/svg/components/data-analysis-dark-icon.svg" alt="Image Description">
            <div class="media-body px-4">
              <h4 class="h6 text-dark mb-1">Maintain</h4>
              <p class="mb-0">We get it, you're busy and it's important that someone keeps up with marketing.</p>
            </div>
          </div>
        </div>
        <!-- End Listing -->
      </div>
    </div>
  </div>
</div>
<!-- End Features Section -->