<!-- Responsive Section -->
<div class="gradient-overlay-half-primary-v1">
  <div class="bg-img-hero" style="background-image: url(../../assets/img/bg/bg2.png);">
    <div class="container">
      <div class="row justify-content-lg-between align-items-lg-start">
        <div class="col-lg-6 space-2 space-3--lg">
          <!-- Title -->
          <div class="mb-7">
            <span class="u-label u-label--sm u-label--light mb-2">Space on the go</span>
            <h2 class="text-white">Space on mobile</h2>
            <p class="text-white">Don't miss out because you're on the move. Stay connected and collaborate with your team from anywhere with notifications, comments, and project activity. Download Space for iPhone or Space for Android.</p>
          </div>
          <!-- End Title -->

          <!-- Button -->
          <button type="button" class="btn btn-xs btn-dark text-left mb-2 mb-md-0 mr-md-2">
              <span class="media align-items-center">
                <i class="fab fa-apple fa-3x mr-3"></i>
                <span class="d-block">
                  <span class="d-block">Download on the</span>
                  <strong class="d-block font-size-14">App Store</strong>
                </span>
              </span>
          </button>
          <!-- End Button -->

          <!-- Button -->
          <button type="button" class="btn btn-xs btn-dark text-left mb-2 mb-md-0">
              <span class="media align-items-center">
                <i class="fab fa-google-play fa-3x mr-3"></i>
                <span class="d-block">
                  <span class="d-block">Get it on</span>
                  <strong class="d-block font-size-14">Google Play</strong>
                </span>
              </span>
          </button>
          <!-- End Button -->
        </div>

        <div class="col-lg-4 text-center mt-lg-auto">
          <!-- SVG Mockup -->
          <object type="image/svg+xml" data="../../assets/svg/mockups/phone-mockup-1.svg" class="w-75 w-sm-100 max-width-sm-40"></object>
          <!-- End SVG Mockup -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Responsive Section -->