<!-- Stats Section -->
<div class="container space-2 space-3--lg">
  <div class="row justify-content-md-center">
    <div class="col-6 col-md-5 col-lg-4">
      <!-- Stats -->
      <div class="text-center">
        <span class="display-4 d-block text-dark mb-2">7k+</span>
        <p class="lead">Covered support questions</p>
      </div>
      <!-- End Stats -->
    </div>

    <div class="col-6 col-md-5 col-lg-4">
      <!-- Stats -->
      <div class="text-center">
        <span class="display-4 d-block text-dark mb-2">1.2k+</span>
        <p class="lead">Reusable UI components</p>
      </div>
      <!-- End Stats -->
    </div>
  </div>
</div>
<!-- End Stats Section -->