<!-- Works Section -->
<div class="bg-gray-100">
  <div class="container space-2 space-3--lg">
    <!-- Title -->
    <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
      <span class="u-label u-label--sm u-label--purple mb-3">We've done some amazing jobs</span>
      <h2 class="h3">Experience a level of quality in both design & customization.</h2>
    </div>
    <!-- End Title -->

    <div class="card-deck d-block d-lg-flex card-lg-gutters-2">
      <div class="card border-0 mb-3">
        <!-- Works -->
        <div class="card-body border border-bottom-0 rounded-top text-center p-5">
          <img class="u-md-avatar rounded mb-4" src="../../assets/img/160x160/img3.jpg" alt="Image Description">
          <h4 class="h5 mb-1">Slack</h4>
          <p class="mb-0">A cloud-based set of proprietary team collaboration tools and services.</p>
        </div>

        <div class="card-footer text-center border rounded-bottom p-5">
          <h4 class="h6 text-secondary">Contributors</h4>

          <!-- Contributors List -->
          <ul class="list-inline mr-2 mb-4">
            <li class="list-inline-item mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img1.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img3.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img4.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img5.jpg" alt="Image Description">
            </li>
          </ul>
          <!-- End Contributors List -->

          <a class="btn btn-sm btn-primary btn-wide" href="../portfolio/case-studies-simple.html">Learn More</a>
        </div>
        <!-- End Works -->
      </div>

      <div class="card border-0 mb-3">
        <!-- Works -->
        <div class="card-body border border-bottom-0 rounded-top text-center p-5">
          <img class="u-md-avatar rounded mb-4" src="../../assets/img/160x160/img4.jpg" alt="Image Description">
          <h4 class="h5 mb-1">Mapbox</h4>
          <p class="mb-0">A large provider of custom online maps for websites and applications.</p>
        </div>

        <div class="card-footer text-center border rounded-bottom p-5">
          <h4 class="h6 text-secondary">Contributors</h4>

          <!-- Contributors List -->
          <ul class="list-inline mr-2 mb-4">
            <li class="list-inline-item mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img2.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img4.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img5.jpg" alt="Image Description">
            </li>
          </ul>
          <!-- End Contributors List -->

          <a class="btn btn-sm btn-primary btn-wide" href="../portfolio/case-studies-simple.html">Learn More</a>
        </div>
        <!-- End Works -->
      </div>

      <div class="card border-0 mb-3">
        <!-- Works -->
        <div class="card-body border border-bottom-0 rounded-top text-center p-5">
          <img class="u-md-avatar rounded mb-4" src="../../assets/img/160x160/img5.jpg" alt="Image Description">
          <h4 class="h5 mb-1">Spotify</h4>
          <p class="mb-0">An entertainment service, specialized in music, podcast, and video streaming service.</p>
        </div>

        <div class="card-footer text-center border rounded-bottom p-5">
          <h4 class="h6 text-secondary">Contributors</h4>

          <!-- Contributors List -->
          <ul class="list-inline mr-2 mb-4">
            <li class="list-inline-item mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img1.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img5.jpg" alt="Image Description">
            </li>
          </ul>
          <!-- End Contributors List -->

          <a class="btn btn-sm btn-primary btn-wide" href="../portfolio/case-studies-simple.html">Learn More</a>
        </div>
        <!-- End Works -->
      </div>
    </div>

    <div class="card-deck d-block d-lg-flex card-lg-gutters-2">
      <div class="card border-0 mb-3 mb-lg-0">
        <!-- Works -->
        <div class="card-body border border-bottom-0 rounded-top text-center p-5">
          <img class="u-md-avatar rounded mb-4" src="../../assets/img/160x160/img2.jpg" alt="Image Description">
          <h4 class="h5 mb-1">Airbnb</h4>
          <p class="mb-0">An online marketplace and hospitality service for people to lease or rent short-term lodging.</p>
        </div>

        <div class="card-footer text-center border rounded-bottom p-5">
          <h4 class="h6 text-secondary">Contributors</h4>

          <!-- Contributors List -->
          <ul class="list-inline mr-2 mb-4">
            <li class="list-inline-item mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img1.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img3.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img2.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img4.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img5.jpg" alt="Image Description">
            </li>
          </ul>
          <!-- End Contributors List -->

          <a class="btn btn-sm btn-primary btn-wide" href="../portfolio/case-studies-simple.html">Learn More</a>
        </div>
        <!-- End Works -->
      </div>

      <div class="card border-0 mb-3 mb-lg-0">
        <!-- Works -->
        <div class="card-body border border-bottom-0 rounded-top text-center p-5">
          <img class="u-md-avatar rounded mb-4" src="../../assets/img/160x160/img6.jpg" alt="Image Description">
          <h4 class="h5 mb-1">DigitalOcean</h4>
          <p class="mb-0">Providing developers and businesses a reliable, easy-to-use cloud computing platform of virtual servers.</p>
        </div>

        <div class="card-footer text-center border rounded-bottom p-5">
          <h4 class="h6 text-secondary">Contributors</h4>

          <!-- Contributors List -->
          <ul class="list-inline mr-2 mb-4">
            <li class="list-inline-item mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img3.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img2.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img4.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img5.jpg" alt="Image Description">
            </li>
          </ul>
          <!-- End Contributors List -->

          <a class="btn btn-sm btn-primary btn-wide" href="../portfolio/case-studies-simple.html">Learn More</a>
        </div>
        <!-- End Works -->
      </div>

      <div class="card border-0">
        <!-- Works -->
        <div class="card-body border border-bottom-0 rounded-top text-center p-5">
          <img class="u-md-avatar rounded mb-4" src="../../assets/img/160x160/img1.jpg" alt="Image Description">
          <h4 class="h5 mb-1">InVision</h4>
          <p class="mb-0">InVision is the digital product design platform used to make the world's best customer experiences.</p>
        </div>

        <div class="card-footer text-center border rounded-bottom p-5">
          <h4 class="h6 text-secondary">Contributors</h4>

          <!-- Contributors List -->
          <ul class="list-inline mr-2 mb-4">
            <li class="list-inline-item mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img1.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img3.jpg" alt="Image Description">
            </li>
            <li class="list-inline-item ml-n3 mr-0">
              <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img5.jpg" alt="Image Description">
            </li>
          </ul>
          <!-- End Contributors List -->

          <a class="btn btn-sm btn-primary btn-wide" href="../portfolio/case-studies-simple.html">Learn More</a>
        </div>
        <!-- End Works -->
      </div>
    </div>
  </div>
</div>
<!-- End Works Section -->