
<!-- Categories -->
<div class="card-deck d-block d-lg-flex mb-9">
  <article class="card border-0 mb-5 mb-lg-0">
    <!-- Category -->
    <div class="card-body row align-items-stretch no-gutters p-0">
      <div class="col-6 border border-right-0">
        <div class="space-2 px-3 px-sm-5">
          <div class="mb-4">
            <h3 class="h4">Space hats</h3>
            <p class="mb-0">Experience a legend</p>
          </div>
          <a href="#">Show Now</a>
        </div>
      </div>
      <div class="col-6 border border-left-0 bg-img-hero-center" data-bg-img-src="../../assets/img/500x550/img13.jpg"></div>
    </div>
    <!-- End Category -->
  </article>

  <article class="card border-0 mb-5 mb-lg-0">
    <!-- Category -->
    <div class="card-body row align-items-stretch no-gutters p-0">
      <div class="col-6 border border-right-0">
        <div class="space-2 px-3 px-sm-5">
          <div class="mb-4">
            <h3 class="h4">Space collection</h3>
            <p class="mb-0">You favorite color</p>
          </div>
          <a href="#">Show Now</a>
        </div>
      </div>
      <div class="col-6 border border-left-0 bg-img-hero" data-bg-img-src="../../assets/img/500x550/img14.jpg"></div>
    </div>
    <!-- End Category -->
  </article>
</div>
<!-- End Categories -->