<!-- Products Section -->
<div class="container space-2 space-3--lg">
  <!-- Title -->
  <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
    <span class="u-label u-label--sm u-label--purple mb-3">Space products</span>
    <h2 class="h3">High-quality brands by Space</h2>
    <p>Blending fine fabrics and brilliant colors, our spring assortment of handcrafted accessories are the perfect option for the warm months ahead.</p>
  </div>
  <!-- End Title -->


  <div class="row mb-9">
    <div class="col-sm-6 col-lg-3 mb-5">
      <!-- Shop Item -->
      <a class="d-block border text-dark text-center" href="single-product.html">
        <img class="img-fluid" src="../../assets/img/500x550/img15.jpg" alt="Image Description">
        <div class="border-top p-4">
          <h2 class="h5">Longline t-shirt</h2>
          <span class="d-block h5 text-primary mb-0">$21</span>
        </div>
      </a>
      <!-- End Shop Item -->
    </div>

    <div class="col-sm-6 col-lg-3 mb-5">
      <!-- Shop Item -->
      <a class="d-block border text-dark text-center" href="single-product.html">
        <img class="img-fluid" src="../../assets/img/500x550/img16.jpg" alt="Image Description">
        <div class="border-top p-4">
          <h3 class="h5">Slip on shoes</h3>
          <span class="d-block h5 text-primary mb-0">$99</span>
        </div>
      </a>
      <!-- End Shop Item -->
    </div>

    <div class="col-sm-6 col-lg-3 mb-5">
      <!-- Shop Item -->
      <a class="d-block border text-dark text-center" href="single-product.html">
        <img class="img-fluid" src="../../assets/img/500x550/img17.jpg" alt="Image Description">
        <div class="border-top p-4">
          <h3 class="h5">Women's t-shirt</h3>
          <span class="d-block h5 text-primary mb-0">$7</span>
        </div>
      </a>
      <!-- End Shop Item -->
    </div>

    <div class="col-sm-6 col-lg-3 mb-5">
      <!-- Shop Item -->
      <a class="d-block border text-dark text-center" href="single-product.html">
        <img class="img-fluid" src="../../assets/img/500x550/img18.jpg" alt="Image Description">
        <div class="border-top p-4">
          <h3 class="h5">Hoodie</h3>
          <span class="d-block h5 text-primary mb-0">$67</span>
        </div>
      </a>
      <!-- End Shop Item -->
    </div>

    <div class="w-100"></div>

  </div>

  <div class="text-center">
    <a class="btn btn-dark btn-wide" href="#">View More</a>
  </div>
</div>
<!-- End Products Section -->