<!-- Testimonials Section -->
<div class="gradient-overlay-half-primary-v1">
  <div class="bg-img-hero" style="background-image: url(../../assets/img/bg/bg2.png);">
    <div class="container space-2 space-3--lg">
      <div class="w-lg-75 mx-lg-auto">
        <!-- SVG Quote -->
        <figure class="mx-auto mb-4" style="width: 50px;">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <path fill="#ffffff" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                  C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                  c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                  C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
          </svg>
        </figure>
        <!-- End SVG Quote -->

        <!-- Slick Carousel - Testimonials -->
        <div id="testimonialsNavMain" class="js-slick-carousel u-slick space-2-bottom"
             data-infinite="true"
             data-autoplay="true"
             data-speed="5000"
             data-nav-for="#testimonialsNavThumb">
          <div class="js-slide">
            <blockquote class="h3 text-white text-center">Just wow! The template is really nice and offers quite a large set of options.</blockquote>
          </div>
          <div class="js-slide">
            <blockquote class="h3 text-white text-center">It's beautiful and the coding is done quickly and seamlessly. Thank you!</blockquote>
          </div>
          <div class="js-slide">
            <blockquote class="h3 text-white text-center">Space brings so many benefits to any team that does anything following a process.</blockquote>
          </div>
          <div class="js-slide">
            <blockquote class="h3 text-white text-center">One simple subscription gives you access to all our tools, plus so much more.</blockquote>
          </div>
          <div class="js-slide">
            <blockquote class="h3 text-white text-center">Space is the easiest way for teams to build cool things work—and get results.</blockquote>
          </div>
          <div class="js-slide">
            <blockquote class="h3 text-white text-center">We are incredibly impressed with Space and how well it supports its customers with amazing products and services.</blockquote>
          </div>
        </div>
        <!-- End Slick Carousel - Testimonials -->
      </div>

      <!-- Slick Carousel - Clients -->
      <div id="testimonialsNavThumb" class="js-slick-carousel u-slick u-slick--transform-off-lg u-slick--pagination-classic"
           data-infinite="true"
           data-autoplay="true"
           data-speed="5000"
           data-center-mode="true"
           data-slides-show="6"
           data-is-thumbs="true"
           data-focus-on-select="true"
           data-nav-for="#testimonialsNavMain"
           data-responsive='[{
                 "breakpoint": 992,
                 "settings": {
                   "slidesToShow": 4
                 }
               }, {
                 "breakpoint": 768,
                 "settings": {
                   "slidesToShow": 3
                 }
               }, {
                 "breakpoint": 576,
                 "settings": {
                   "slidesToShow": 3
                 }
               }, {
                 "breakpoint": 480,
                 "settings": {
                   "slidesToShow": 2
                 }
               }]'>
        <div class="js-slide pt-5">
          <img class="u-clients" src="../../assets/img/clients/amazon-white.png" alt="Image Description">
        </div>
        <div class="js-slide pt-5">
          <img class="u-clients" src="../../assets/img/clients/google-white.png" alt="Image Description">
        </div>
        <div class="js-slide pt-5">
          <img class="u-clients" src="../../assets/img/clients/hubspot-white.png" alt="Image Description">
        </div>
        <div class="js-slide pt-5">
          <img class="u-clients" src="../../assets/img/clients/slack-white.png" alt="Image Description">
        </div>
        <div class="js-slide pt-5">
          <img class="u-clients" src="../../assets/img/clients/airbnb-white.png" alt="Image Description">
        </div>
        <div class="js-slide pt-5">
          <img class="u-clients" src="../../assets/img/clients/spotify-white.png" alt="Image Description">
        </div>
      </div>
      <!-- End Slick Carousel - Clients -->
    </div>
  </div>
</div>
<!-- End Testimonials Section -->