<!-- CTA Section -->
<div class="bg-purple">
  <div class="container space-2">
    <div class="row align-items-sm-center">
      <div class="col-md-5 col-lg-6 mb-5 mb-md-0">
        <span class="display-1 font-size-48--md-down text-white">1,128,762</span>
      </div>
      <div class="col-4 col-md-2">
        <img class="img-fluid" src="../../assets/svg/components/portfolio-white-icon.svg" alt="Image Description">
      </div>
      <div class="col-8 col-md-5 col-lg-4">
        <p class="lead text-white">Projects are completed during 25 years of our existence.</p>
        <a class="text-white border-bottom" href="#">How is it done?</a>
      </div>
    </div>
  </div>
</div>
<!-- End CTA Section -->