<!-- Hero Section -->
<div class="container space-2 space-3--md">
  <div class="row justify-content-md-between align-items-md-center">
    <div class="col-md-6 col-lg-5 mb-9 mb-md-0">
      <object type="image/svg+xml" data="../../assets/svg/mockups/mobile-apps-illustration.svg"></object>
    </div>

    <div class="col-md-6">
      <div class="mb-5">
        <h1 class="display-4 font-size-48--md-down font-weight-medium mb-3">Building future website designs.</h1>
        <p class="lead">Each page is architected as a feature-rich design, built for a specific set of problems. Get started with Space's components and options for laying out your Space project with fast, affordable and easy service.</p>
      </div>

      <h2 class="h5">Features:</h2>

      <div class="row mb-3">
        <div class="col-6">
          <!-- List -->
          <ul class="list-unstyled text-secondary">
            <li class="media align-items-center mb-2">
              <i class="fa fa-check text-primary mr-2"></i>
              <div class="media-body">
                Community support
              </div>
            </li>
            <li class="media align-items-center mb-2">
              <i class="fa fa-check text-primary mr-2"></i>
              <div class="media-body">
                400+ pages
              </div>
            </li>
            <li class="media align-items-center mb-2">
              <i class="fa fa-check text-primary mr-2"></i>
              <div class="media-body">
                100+ header variations
              </div>
            </li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-6">
          <!-- List -->
          <ul class="list-unstyled text-secondary">
            <li class="media align-items-center mb-2">
              <i class="fa fa-check text-primary mr-2"></i>
              <div class="media-body">
                Priority Support
              </div>
            </li>
            <li class="media align-items-center mb-2">
              <i class="fa fa-check text-primary mr-2"></i>
              <div class="media-body">
                20+ home page options
              </div>
            </li>
            <li class="media align-items-center mb-2">
              <i class="fa fa-check text-primary mr-2"></i>
              <div class="media-body">
                More features
              </div>
            </li>
          </ul>
          <!-- End List -->
        </div>
      </div>

      <a class="btn btn-wide btn-purple mb-1 mb-sm-0 mr-2" href="https://themes.getbootstrap.com/product/space-multipurpose-responsive-template/">Find Out More</a>
      <a class="btn btn-wide btn-light mb-1 mb-sm-0" href="https://themes.getbootstrap.com/product/space-multipurpose-responsive-template/">Get Started</a>
    </div>
  </div>
</div>
<!-- End Hero Section -->