<!-- Testimonials Section -->
<div class="container">
  <div class="bg-purple shadow-lg rounded p-5 p-md-9">
    <div class="position-relative">
      <div class="position-absolute-top-left-0--md">
        <!-- SVG Quote -->
        <figure style="width: 50px;">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <path fill="#ffffff" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                  C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                  c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                  C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
          </svg>
        </figure>
        <!-- End SVG Quote -->
      </div>

      <div class="pl-md-9 space-1-top">
        <!-- Slick Carousel -->
        <div class="js-slick-carousel u-slick pl-md-4"
             data-infinite="true"
             data-autoplay="true"
             data-speed="5000"
             data-fade="true"
             data-pagi-classes="u-slick__pagination u-slick__pagination--white justify-content-end mt-4 mb-0">
          <div class="js-slide">
            <!-- Testimonials -->
            <blockquote class="h4 text-white font-weight-light mb-5">Space brings so many benefits to any team that does anything following a process. It is the easiest way for teams to build cool things work—and get results.</blockquote>
            <h3 class="h6 text-white mb-0">Mark McManus</h3>
            <span class="d-block text-white-70">Associate Director in Spotify</span>
            <!-- End Testimonials -->
          </div>

          <div class="js-slide">
            <!-- Testimonials -->
            <blockquote class="h4 text-white font-weight-light mb-5">One simple subscription gives you access to all our tools, plus so much more. Space brings so many benefits to any team that does anything following a process. It is the easiest way for teams to build cool things work—and get results.</blockquote>
            <h4 class="h6 text-white mb-0">Charlotte Moore</h4>
            <span class="d-block text-white-70">RISC Programme Director of GitHub</span>
            <!-- End Testimonials -->
          </div>

          <div class="js-slide">
            <!-- Testimonials -->
            <blockquote class="h4 text-white font-weight-light mb-5">Just Wow! Space brings so many benefits to any team that does anything following a process. It is the easiest way for teams to build cool things work—and get results.</blockquote>
            <h4 class="h6 text-white mb-0">Markus Brown</h4>
            <span class="d-block text-white-70">Director at Slack</span>
            <!-- End Testimonials -->
          </div>
        </div>
        <!-- End Slick Carousel -->
      </div>
    </div>
  </div>
</div>
<!-- End Testimonials Section -->