<!-- Hero Section -->
<div class="d-md-flex align-items-md-center height-100vh--lg gradient-overlay-half-dark-v1 bg-img-hero" style="background-image: url(../../assets/img/1920x1080/img30.jpg);">
  <div class="container space-2 space-3--md text-center">
    <div class="w-md-75 w-lg-60 mt-lg-9 mx-md-auto">
      <div class="mb-6">
        <h1 class="display-3 font-size-48--md-down font-weight-medium text-white mb-3">Build your website.</h1>
        <p class="lead text-light">Create your dream website with a wide range of components &amp; easy-to-use documentation.</p>
      </div>

      <a class="js-go-to u-icon u-icon--light u-icon--md rounded-circle" href="javascript:;"
         data-type="static"
         data-target="#startNow">
        <i class="fa fa-angle-down u-icon__inner text-purple font-size-18"></i>
      </a>
    </div>
  </div>
</div>
<!-- End Hero Section -->
