/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  display: block;
  width: 100%;
  height: calc(1.7em + 1.5rem + 2px);
  padding: 1rem 1rem 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #151b26;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.StripeElement--focus {
  border-color: rgba(21, 27, 38, 0.5);
  color: #151b26;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}